<div class="container">
    <h1>Users</h1>
    <button class="btn btn-primary" routerLink="./add">Add a user</button>
    <div *ngIf="users.length != 0" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td><span class="glyphicon glyphicon-edit"></span></td>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>